Question 4 -

Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.

Link - https://data.nasa.gov/resource/y77d-th95.json

Note - Write code comments wherever needed for code understanding.

Excepted Output Data Attributes

● Name of Earth Meteorite - string id - ID of Earth

● Meteorite - int nametype - string recclass - string

● mass - Mass of Earth Meteorite - float year - Year at which Earth

● Meteorite was hit - datetime format reclat - float recclong - float

● point coordinates - list of int

In [2]:
import requests
import json
import csv
import pandas as pd

def download_data(url):
    response = requests.get(url)
    data = response.json()
    return data

def convert_to_csv(data, filename):
    # Extracting the expected output data attributes from the JSON data
    attributes = [
        "name",
        "id",
        "nametype",
        "recclass",
        "mass",
        "year",
        "reclat",
        "reclong",
        "geolocation.coordinates"
    ]

    # Opening the CSV file and writing the header
    with open(filename, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(attributes)

        # Writing each record as a row in the CSV file
        for item in data:
            row = []
            for attribute in attributes:
                # Handling nested attributes
                if '.' in attribute:
                    nested_attributes = attribute.split('.')
                    nested_value = item.get(nested_attributes[0], {})
                    for nested_attribute in nested_attributes[1:]:
                        nested_value = nested_value.get(nested_attribute, '')
                    row.append(nested_value)
                else:
                    row.append(item.get(attribute, ''))
            writer.writerow(row)

    print("CSV file generated successfully.")

# URL of the JSON data
url = "https://data.nasa.gov/resource/y77d-th95.json"

# Download the data from the URL
data = download_data(url)

# Convert and save the data as a CSV file
convert_to_csv(data, "Output.csv")

# loading data in dataframe

df = pd.read_csv("Output.csv")

df.head()

CSV file generated successfully.

,name,id,nametype,recclass,mass,year,reclat,reclong,geolocation.coordinates
0,Aachen,1,Valid,L5,21.0,1880-01-01T00:00:00.000,50.77500,6.08333,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720.0,1951-01-01T00:00:00.000,56.18333,10.23333,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000.0,1952-01-01T00:00:00.000,54.21667,-113.00000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,1976-01-01T00:00:00.000,16.88333,-99.90000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780.0,1902-01-01T00:00:00.000,-33.16667,-64.95000,"[-64.95, -33.16667]"